.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.div1{
  display: flex;
  justify-content: space-between;
  
}

.frames{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.container{
  margin-top: -80px;
}

.addButton {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #81b541;
  font-family: sans-serif;
  font-size: 25px;
  position: relative;
}
.modalButton{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;

}
.butt-edit{
  border-radius: 50%;
  width:55px;
  height:55px;
  
  display:block;
  border-radius:100%;
  margin:-120px auto 0;
  position: relative;
 
}